<!DOCTYPE html>
<html>
  <head>
    <title>Tonevault</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" href="https://a-v2.sndcdn.com/assets/images/sc-icons/favicon-2cadd14bdb.ico">
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          id: <%= current_user.id %>,
          username: "<%= current_user.username %>"
        }
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
